@use "../global" as *;
//AGI-Stepページ (page-agistep)

/* AGI-Stepページ fv
======================================*/
.agistep-page__fv-wrap {
  gap: rrem(35);
  align-items: center;
  @include mq("md") {
    gap: rrem(10);
  }
}

.ecycle-page-fv__subtitle {
  margin-top: rrem(35);
  @include mq("md") {
    margin-top: initial;
  }
}

.agistep-page__fv-inner {
  max-width: rrem(1160);
}


.agistep-page__fv-box {
  align-items: center;
}

.agistep-page__fv-title {
  font-size: clamp(3.875rem, 0.875rem + 6.25vw, 6.5rem);
  @include mq("md") {
    font-size: rrem(50);
  }
}

.agistep-page__fv-subtitle {
  margin-top: rrem(10);
}

.agistep-page__fv-image {
  aspect-ratio: 480 / 400;
  width: rrem(480);
  @include mq("md") {
    width: rrem(320);
  }
}

/* AGI-Step quick動画
======================================*/
.agistep-page__quick {
  padding-top: rrem(104);
  padding-bottom: rrem(92);
  @include mq("md") {
    padding-top: rrem(80);
    padding-bottom: rrem(60); 
  }
}

/* AGI-Step problem 問題提起
======================================*/
.agistep-page__problem {
  padding-top: rrem(144);
  padding-bottom: rrem(152);
  background-color: $c-text;
  @include mq("md") {
    padding-top: rrem(80);
    padding-bottom: rrem(60);
  }
}


.agistep-page__problem-wrap {
}

.agistep-page__problem-title {
  font-size: rrem(30);
  font-weight: $bold;
  line-height: calc(48 / 30);
  letter-spacing: 2.4px;
  text-align: center;
  @include mq("md") {
    font-size: rrem(22);
  }
}

.agistep-page__problem-list {
  margin-top: rrem(72);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: rrem(20);
  position: relative;
  @include mq("md") {
    margin-top: rrem(40);
    grid-template-columns: repeat(1, 1fr);
    row-gap: rrem(30);
    max-width: rrem(250);
    margin-inline: auto;
  }
}
.agistep-page__problem-list::after {
  content: "";
  position: absolute;
  bottom: rrem(-112);
  left: 50%;
  transform: translateX(-50%);
  width: rrem(368);
  height: rrem(72);
  background-image: url(../images/agi-step/arrow-down-white.svg);
  background-size: cover;
  background-repeat: no-repeat;
  @include mq("md") {
    width: rrem(200);
    background-size: contain;
  }
}


.agistep-page__problem-item {

}

.agistep-page__problem-image {
  aspect-ratio: 320 / 387;
  max-width: rrem(320);
  @include mq("md") {
    width: rrem(250);
  }
}

.agistep-page__problem-textBox {
  margin-top: rrem(58);
  @include mq("md") {
    margin-top: rrem(20);
  }
}

.agistep-page__problem-text {
  margin-top: rrem(24);
  font-size: rrem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  letter-spacing: 0.64px;
  @include mq("md") {
    margin-top: rrem(10);
  }
}


/* AGI-Step problem 解決策
======================================*/


.agistep-page__solution-wrap {
  margin-top: rrem(144);
  max-width: rrem(800);
  margin-inline: auto;
  display: flex;
  gap: rrem(36);
  align-items: center;
  @include mq("md") {
    flex-direction: column;
    margin-top: rrem(112);
  }
}

.agistep-page__solution-textbox {

}

.agistep-page__solution-subtitle {
  font-size: rrem(18);
  font-weight: $bold;
  line-height: calc(28.8 / 18);
  letter-spacing: 0.72px;
  @include mq("md") {
    font-size: rrem(16);
    text-align: center;
  }
}

.agistep-page__solution-title {
  font-size: rrem(44);
  font-weight: $bold;
  line-height: 150%;
  letter-spacing: 3.52px;
  @include mq("md") {
    font-size: rrem(30);
    text-align: center;
    margin-top: rrem(20);
  }
}

.agistep-page__solution-title .text-highlight{
  font-family: $en-font;
  font-size: rrem(60);
  line-height: 100%;
  letter-spacing: 4.8px;
  @include mq("md") {
    font-size: rrem(40);
  }
}

.agistep-page__solution-text {
  margin-top: rrem(40);
  font-size: rrem(15);
  font-weight: $medium;
  line-height: calc(26.25 / 15);
  letter-spacing: 0.6px;
}

.agistep-page__solution-image {
  aspect-ratio: 480 / 400;
  width: rrem(418);
  flex-shrink: 0;
  @include mq("md") {
    width: rrem(250);
  }
}

/* AGI-Step benefits セクション
======================================*/
.agistep-page__benefits-wrap {

}

.agistep-page__benefits-list {
  display: flex;
  gap: rrem(20);
  @include mq("md") {
    flex-direction: column;
    max-width: rrem(250);
    margin-inline: auto;
    gap: rrem(30);
  }
}

.agistep-page__benefits-item {

}

.agistep-page__benefits-image {
  aspect-ratio: 320 / 483;
  max-width: rrem(320);
  @include mq("md") {
    width: rrem(250);
  }
}

/* AGI-Step feature セクション
======================================*/
.agistep-page__feature {
  background-color: $c-text;
  padding-top: rrem(168);
  padding-bottom: rrem(120);
  @include mq("md") {
    padding-top: rrem(80);
    padding-bottom: rrem(60);
  }
}

.agistep-page__feature-list {
  margin-top: rrem(166);
  max-width: rrem(760);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  @include mq("md") {
    flex-direction: column;
    align-items: center;
    margin-top: rrem(40);
  }
}

.agistep-page__feature-image {
  aspect-ratio: 288 / 416;
  width: rrem(288);
  @include mq("md") {
    width: rrem(250);
  }
}

.agistep-page__feature-image + .agistep-page__feature-image {
  @include mq("md") {
    margin-top: rrem(20);
  }
}

.agistep-page__feature-description {
  margin-top: rrem(30);
  display: flex;
  align-items: center;
  gap: rrem(15);
  max-width: rrem(810);
  margin-inline: auto;
  @include mq("md") {
    flex-direction: column;
  }
  
}

.agistep-page__discription-wrap {

}

.agistep-page__description-title {
  color: $c-white;
  font-size: rrem(30);
  font-weight: $bold;
  line-height: calc(48 / 30);
  letter-spacing: 2.4px;
  @include mq("md") {
    font-size: rrem(22);
  }
}

.agistep-page__description-text {
  color: $c-white;
  font-size: rrem(15);
  font-weight: $medium;
  line-height: calc(26.25 / 15);
  letter-spacing: 0.6px;
  @include mq("md") {
    margin-top: rrem(10);
  }
}

.agistep-page__description-image {
  aspect-ratio: 384 / 320;
  width: rrem(384);
  flex-shrink: 0;
  @include mq("md") {
    width: rrem(250);
  }

}

/* AGI-Step feature セクション 自動化
======================================*/
.agistep-page__feature-automation {
  margin-top: rrem(56);
  padding: rrem(44) rrem(50);
  background-color: $c-white;
  @include mq("md") {
    margin-top: rrem(40);
    padding: rrem(20);
  }
}

.agistep-page__automation-image {
  aspect-ratio: 900 / 512;
  width: rrem(900);
  @include mq("md") {
    width: 100%;
  }
}

.agistep-page__automation-image img {
  height: 100%;
}

/* AGI-Step feature セクション 導入シュミレーション
======================================*/
.agistep-page__feature-simulation {
  margin-top: rrem(32);
  padding: rrem(36) rrem(50) rrem(41);
  background-color: $c-white;
  @include mq("md") {
    margin-top: rrem(20);
    padding: rrem(20);
  }
}

.agistep-page__simulation-title {
  color: $c-black;
  font-size: rrem(18);
  font-weight: $bold;
  line-height: calc(28.8 / 18);
  letter-spacing: 0.72px;
  text-align: center;
  @include mq("md") {
    font-size: rrem(16);
  }
}

.agistep-page__simulation-image {
  margin-top: rrem(28);
  aspect-ratio: 900 / 378;
  width: rrem(900);
  @include mq("md") {
    width: 100%;
    margin-top: rrem(10);
  }
}

.agistep-page__simulation-image img {
  height: 100%;
}


/* AGI-Step case 企業の効果
======================================*/
.agistep-page__feature-case {
  margin-top: rrem(120);
  @include mq("md") {
    margin-top: rrem(40);
  }
}

.agistep-page__case-title {
  text-align: center;
  color: $c-white;
  font-size: rrem(30);
  font-weight: $bold;
  line-height: calc(48 / 30);
  letter-spacing: 2.4px;
  @include mq("md") {
    font-size: rrem(22);
  }
}

.agistep-page__case-wrap {
  margin-top: rrem(73);
  @include mq("md") {
    margin-top: rrem(40);
  }
}

.agistep-page__case-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rrem(8);
  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    gap: rrem(5);
  }
}

.agistep-page__case-item {

}

.agistep-page__case-image {
  aspect-ratio: 328 / 208;
  max-width: rrem(328);
  @include mq("md") {
    width: 100%;
  }
}

/* AGI-Step chatbot chatボット
======================================*/
.agistep-page__chatbot {
  padding-top: rrem(120);
  padding-bottom: rrem(45);
  @include mq("md") {
    padding-top: rrem(80);
    padding-bottom: rrem(30);
  }
}

.under-service__section-titlebox {

}

.under-service__section-subtitle {

}

.under-service__section-title {

}

.agistep-page__chatbot-examples {
  margin-top: rrem(94);
  background: linear-gradient(to bottom, transparent rrem(213), $c-BgGray rrem(213));
  @include mq("md") {
    margin-top: rrem(40);
  }
}

.agistep-page__chatbot-imageBox {
  display: flex;
  gap: rrem(106);
  justify-content: center;
}

.agistep-page__chatbot-image {
  aspect-ratio: 274/405;
  max-width: rrem(274);
  @include mq("md") {
    width: rrem(200);
  }
}

.agistep-page__chatbot-discription {
  margin-top: rrem(44);
  padding-bottom: rrem(35);
  @include mq("md") {
    margin-top: rrem(20);
    padding-bottom: rrem(20);
  }
}

.agistep-page__chatbot-subcatch {
  font-size: rrem(15);
  font-weight: $medium;
  line-height: calc(26.25 / 15);
  letter-spacing: 0.6px;
  text-align: center;

}

.agistep-page__chatbot-catch {
  margin-top: rrem(23);
  text-align: center;
  color: $c-accent;
  font-size: rrem(22);
  font-weight: $bold;
  line-height: calc(35.2 / 22);
  letter-spacing: 1.76px;
  @include mq("md") {
    margin-top: rrem(15);
    font-size: rrem(18);
  }
}

.agistep-page__chatbot-categories {
  margin-top: rrem(51);
  max-width: rrem(760);
  margin-inline: auto;
  @include mq("md") {
    margin-top: rrem(20);
    max-width: rrem(300);
  }
}

.agistep-page .chatbot-category__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rrem(32);
  @include mq("md") {
    grid-template-columns: repeat(1, 1fr);
    column-gap: initial;
    row-gap: rrem(20);
  }
}

.agistep-page .chatbot-category__item {
  background: linear-gradient(to bottom, transparent rrem(20), $c-white rrem(20));
  padding: 0 rrem(29) rrem(29) rrem(29);
}

.agistep-page .chatbot-category__head {
  display: grid;
  place-content: center;
}

.agistep-page .chatbot-category__title {
  color: $c-white;
  text-align: center;
  background-color: $c-text;
  font-size: rrem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  letter-spacing: 0.64px;
  padding: rrem(8) rrem(24);
  width: rrem(182);
  border-radius: 30px;
}

.agistep-page .chatbot-category__bottom {
  margin-top: rrem(22);

}

.agistep-page .chatbot-category__bottom-list {
  list-style: disc;
  padding-left: rrem(8);
}

.agistep-page  .chatbot-category__bottom-item {
  color: $c-black;
  font-size: rrem(13);  
  font-weight: $medium;
  line-height: calc(20.8 / 13);
  letter-spacing: 0.52px;
}




/* AGI-Step timeline 導入までの流れ
======================================*/
.agistep-page__timeline {
  padding-top: rrem(80);
  padding-bottom: rrem(61);
  @include mq("md") {
    padding-top: rrem(40);
    padding-bottom: rrem(40);
  }
}
.agistep-page__timeline-image {
  margin-top: rrem(40);
  aspect-ratio: 800 / 375;
  max-width: rrem(800);
  margin-inline: auto;
  @include mq("md") {
    width: 100%;
  }
}


/* AGI-Step qa セクション
======================================*/
.agistep-page__qa {
  padding-top: rrem(72);
  padding-bottom: rrem(89);
  @include mq("md") {
    padding-top: rrem(80);
    padding-bottom: rrem(60);
  }
}
