@use "../global" as *;
//下層--Minutes Movieページ (page-minutes-movie)

/* 下層serviceページ(共通) セクションタイトル → page-under-service.scssに記載
======================================*/

.mmovie-page__process {
  padding-top: rrem(184);
  padding-bottom: rrem(153);
  @include mq("md") {
    padding-top: rrem(80);
    padding-bottom: rrem(60);
  }
}

.mmovie-page__process-wrap {
  text-align: center;
}

.mmovie-page__process-title {
  font-size: rrem(44);
  font-weight: $bold;
  line-height: calc(66 / 44);
  letter-spacing: 3.52px;
  @include mq("md") {
    font-size: rrem(30);
    line-height: calc(48 / 30);
    letter-spacing: 2.4px;
  }
}

.mmovie-page__process-text {
  margin-top: rrem(32);
  font-size: rrem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  letter-spacing: 0.64px;
  @include mq("md") {
    margin-top: rrem(20);
    text-align: left;
  }
}

.mmovie-page__graph {
  margin-top: rrem(64);
  margin-inline: auto;
  aspect-ratio: 800 / 400;
  width: rrem(800);
  @include mq("md") {
    margin-top: rrem(40);
    aspect-ratio: 320 / 160;
    width: 100%;
  }
}

.mmovie-page__graph img {
  height: 100%;
}

.mmovie-page__process-list {
  margin-top: rrem(119);
  @include mq("md") {
    margin-top: rrem(60);
  }
}

.mmovie-page__process-list .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rrem(20);
  place-items: center;
  @include mq("md") {
    grid-template-columns: repeat(1, 1fr);
    gap: rrem(40);
  }
}

.mmovie-page__process-list .cards-item {

}

.mmovie-page__process-list .cards-item__image {
  aspect-ratio: 320 / 240;
  max-width: rrem(320);
  @include mq("md") {
    width: rrem(250);
  }
}

.mmovie-page__process-list .cards-item__bottom {
  margin-top: rrem(72);
  @include mq("md") {
    margin-top: rrem(5);
  }
}

.mmovie-page__process-list .cards-item__title {
  font-size: rrem(30);
  font-weight: $bold;
  line-height: calc(48 / 30);
  letter-spacing: 2.4px;
  @include mq("md") {
    font-size: rrem(24);
  }
}

.mmovie-page__process-list .cards-item__text {
  font-size: rrem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  letter-spacing: 0.64px;
  margin-top: rrem(32);
  @include mq("md") {
    margin-top: rrem(10);
  }
}


/* Minutes Movieページ 動画 quick セクション
======================================*/
.mmovie-page__quick {
  background-color: $c-text;
  padding-top: rrem(104);
  padding-bottom: rrem(104);
  @include mq("md") {
    padding-top: rrem(80);
    padding-bottom: rrem(60);
  }
}


/* Minutes Movieページ introduction セクション
======================================*/
.mmovie-page__introduction {
  padding-top: rrem(168);
  padding-bottom: rrem(171);
  @include mq("md") {
    padding-top: rrem(80);
    padding-bottom: rrem(60);
  }
}

.mmovie-page__introduction-wrap {
  text-align: center;
}

.mmovie-page__introduction-textBox {
  margin-top: rrem(174);
  @include mq("md") {
    margin-top: rrem(40);
  }
}

.mmovie-page__introduction-text {
  font-size: rrem(15);
  font-weight: $medium;
  line-height: calc(26.25 / 15);
  letter-spacing: 0.6px;
}

.mmovie-page__achievement {
  margin-top: rrem(72);
  @include mq("md") {
    margin-top: rrem(40);
  }
}

.mmovie-page__achievement-title {
  font-size: rrem(22);
  font-weight: $bold;
  line-height: calc(35.2 / 22);
  letter-spacing: 1.76px;
}

.mmovie-page__achievement-video {

}

.video__container {

}

.mmovie-page__achievement-title {

}
/* 制作実績mock-up動画
======================================*/
.mmovie-page__achievement-video {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}

.mmovie-page__achievement-video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mmovie-page__achievement-video #ehack-video {
  position: absolute;
  top: 48.5%;
  left: 49.7%;
  transform: translate(-50%, -50%);
  width: 89%;
  height: 100%;
  @include mq("md") {
    width: 77%;
  }
}

/* Minutes Movieページ plan セクション
======================================*/
.mmovie-page__plan {
  padding-top: rrem(120);
  padding-bottom: rrem(69);
  @include mq("md") {
    padding-top: rrem(80);
    padding-bottom: rrem(60);
  }
}

.mmovie-page__plan-description {
  margin-top: rrem(48);
  max-width: rrem(800);
  margin-inline: auto;
  background-color: $c-BgGray;
  padding-top: rrem(42);
  padding-bottom: rrem(33);
  text-align: center;
  @include mq("md") {
    margin-top: rrem(20);
    padding-top: rrem(20);
    padding-bottom: rrem(20);
  }
}

.mmovie-page .plan-description__subtitle {
  font-size: 15px;
  font-weight: $medium;
  line-height: calc(26.25 / 15);
  letter-spacing: 0.6px;
}

.mmovie-page .plan-description__title {
  margin-top: rrem(22.98);
  font-size: rrem(18);
  font-weight: $bold;
  line-height: calc(28.8 / 18);
  letter-spacing: 0.72px;
  @include mq("md") {
    margin-top: rrem(20);
  }
}

.mmovie-page  .plan-description__price {
  margin-top: rrem(24);
  color: $c-accent;
  font-size: rrem(30);
  font-weight: $bold;
  line-height: calc(48 / 30);
  letter-spacing: 2.4px;
  @include mq("md") {
    margin-top: rrem(20);
  }
}
/* サポート内容
======================================*/
.mmovie-page__plan-support {
  margin-top: rrem(32);
  @include mq("md") {
    margin-top: rrem(20);
  }
}

.mmovie-page  .plan-support__title {
  font-size: 13px;
  font-weight: $medium;
  line-height: calc(20.8 / 13);
  letter-spacing: 0.52px;
}

.mmovie-page  .plan-support__list {
  margin-top: rrem(16);
  max-width: rrem(600);
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: rrem(8);
  justify-content: center;
  align-items: center;
  @include mq("md") {
    flex-direction: column;
    max-width: rrem(300);
  }
}

.mmovie-page  .plan-support__item {
  color: $c-black;
  font-size: rrem(15);
  font-weight: $medium;
  line-height: calc(15 / 15);
  letter-spacing: 0.6px;
  background-color: $c-white;
  padding: rrem(8) rrem(32);
  display: inline-block;
  border-radius: 99px;
  @include mq("md") {
    max-width: rrem(270);
    width: 100%;
  }
}

/* プラン比較表
======================================*/
.mmovie-page__plan-table {
  max-width: rrem(800);
  margin-inline: auto;
  margin-top: rrem(32);
  overflow-x: scroll;
  text-align: center;
  @include mq("md") {
    max-width: rrem(600);
  }
}

.mmovie-page  .plan-table {
  border-collapse: collapse;
  width: rrem(800);
  @include mq("md") {
    max-width: rrem(600);
  }

}

.mmovie-page .plan-table__head:first-child {
  width: rrem(200);
  @include mq("md") {
    width: rrem(100);
  }
}
.mmovie-page .plan-table__head:nth-child(2) {
  width: rrem(360);
  @include mq("md") {
    width: rrem(200);
  }
}
.mmovie-page .plan-table__head:nth-child(3) {
  width: rrem(240);
  @include mq("md") {
    width: rrem(200);
  }
}

.mmovie-page .plan-table__head {
  padding-block: rrem(8);
  max-width: 100%;
  border-top: 1px solid rgb(245, 245, 245);
  border-bottom: 1px solid rgb(245, 245, 245);
  box-shadow: inset 0 0 0 4px $c-white;
}

.mmovie-page .plan-table__ehack {

}

.mmovie-page .plan-table__bodys {

}

.mmovie-page .plan-table__body {
  font-size: rrem(15);
  font-weight: $medium;
  line-height: calc(26.25 / 15);
  letter-spacing: 0.6px;
  padding: rrem(8) rrem(20);
  border-bottom: 1px solid rgb(245, 245, 245);
  box-shadow: inset 0 0 0 4px $c-white;
  background-color: $c-white;
  @include mq("md") {
    padding: rrem(8) rrem(8);
  }
}

/* 表の真ん中だけ赤
======================================*/
.mmovie-page .plan-table__ehack {
  color: $c-accent;
  font-size: rrem(15);
  font-weight: $bold;
  line-height: calc(24 / 16);
  letter-spacing: 0.64px;
  background-color: $c-BgGray;
}

.mmovie-page .plan-table__head.plan-table__ehack {
  color: $c-text;
}

.mmovie-page .plan-table__note {
  text-align: right;
  font-size: 11px;
  font-weight: $medium;
  line-height: calc(13.75 / 11);
  margin-top: rrem(8);
}


/* Minutes Movieページ flow セクション
======================================*/
// .flow-item__image {
//   aspect-ratio: 56 / 79;
//   width: rrem(56);
// }

.mmovie-page__flow {
  padding-top: rrem(80);
  padding-bottom: rrem(147);
  @include mq("md") {
    padding-top: rrem(40);
    padding-bottom: rrem(60);
  }
}

.mmovie-page__flow-list {
  @include mq("md") {
    max-width: rrem(250);
    margin-inline: auto;
    //height: auto;
  }
}

.mmovie-page {

}

.mmovie-page.flow-list {
  margin-top: rrem(48);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: rrem(8);
  height: 200px;
  @include mq("md") {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    margin-top: rrem(20);
  }
}
.mmovie-page .flow-item +  .flow-item {
  @include mq("md") {
    margin-top: rrem(25);
  }
}

.mmovie-page .flow-item {
  display: grid;
  place-items: center;
  grid-template-rows: subgrid;
  grid-row: span 3;
  background: linear-gradient(to bottom, $c-white 13px, $c-BgGray 13px);
  @include mq("md") {
    row-gap: rrem(15);
    //padding-bottom: rrem(15);
  }
}

.flow-item__number {
  font-family: $en-font;
  font-size: rrem(36);
  font-weight: $bold;
  line-height: calc(36 / 36);
  letter-spacing: 2.88px;
  margin-top: -10px;
  @include mq("md") {
    font-size: rrem(30);
    margin-top: initial;
  }
}

.mmovie-page .flow-item__image {
  //margin-top: rrem(18);
  // overflow: hidden;
  //  padding-top: 56.25%;
  //  position: relative;
}

.mmovie-page .flow-item__image img {
  width: 100%;
  height: 81px;
  object-fit: cover;
  @include mq("md") {
    height: 70px;
  }
}

.mmovie-page .flow-item__text {
  //margin-top: rrem(18);
  font-size: rrem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  letter-spacing: 0.64px;
  height: rrem(48);
}


/* Minutes Movieページ qa セクション
======================================*/
.mmovie-page__qa {
  padding-top: rrem(72);
  padding-bottom: rrem(89);
  @include mq("md") {
    padding-top: rrem(80);
    padding-bottom: rrem(60);
  }
}