@use "../global" as *;
//AGI-Stepページ (page-agistep)

/* AGI-Stepページ fv
======================================*/
.agistep-page__fv-wrap {
  gap: rrem(35);
  align-items: center;
  @include mq("md") {
    gap: rrem(10);
  }
}

.ecycle-page-fv__subtitle {
  margin-top: rrem(35);
  @include mq("md") {
    margin-top: initial;
  }
}

.agistep-page__fv-inner {
  max-width: rrem(1160);
}


.agistep-page__fv-box {
  align-items: center;
}

.agistep-page__fv-title {
  font-size: clamp(3.875rem, 0.875rem + 6.25vw, 6.5rem);
  @include mq("md") {
    font-size: rrem(50);
  }
}

.agistep-page__fv-subtitle {
  margin-top: rrem(10);
}

.agistep-page__fv-image {
  aspect-ratio: 480 / 400;
  width: rrem(480);
  @include mq("md") {
    width: rrem(320);
  }
}

/* AGI-Step quick動画
======================================*/
.agistep-page__quick {
  padding-top: rrem(104);
  padding-bottom: rrem(92);
  @include mq("md") {
    padding-top: rrem(80);
    padding-bottom: rrem(60); 
  }
}

/* AGI-Step problem 問題提起
======================================*/
.agistep-page__problem {
  padding-top: rrem(144);
  padding-bottom: rrem(152);
  //background-color: $c-white;
  @include mq("md") {
    padding-top: rrem(80);
    padding-bottom: rrem(60);
  }
}


.agistep-page__problem-wrap {
}

.agistep-page__problem-title {
  font-size: rrem(30);
  font-weight: $bold;
  line-height: calc(48 / 30);
  letter-spacing: 2.4px;
  text-align: center;
  @include mq("md") {
    font-size: rrem(22);
  }
}

.agistep-page__problem-list {
  margin-top: rrem(72);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: rrem(20);
  position: relative;
  @include mq("md") {
    margin-top: rrem(40);
    grid-template-columns: repeat(1, 1fr);
    row-gap: rrem(30);
    max-width: rrem(250);
    margin-inline: auto;
  }
}
.agistep-page__problem-list::after {
  content: "";
  position: absolute;
  bottom: rrem(-112);
  left: 50%;
  transform: translateX(-50%);
  width: rrem(368);
  height: rrem(72);
  background-image: url(../images/agi-step/arrow-down-white.svg);
  background-size: cover;
  background-repeat: no-repeat;
  @include mq("md") {
    width: rrem(200);
    background-size: contain;
  }
}


.agistep-page__problem-item {

}

.agistep-page__problem-image {
  aspect-ratio: 320 / 387;
  max-width: rrem(320);
  @include mq("md") {
    width: rrem(250);
  }
}

.agistep-page__problem-textBox {
  margin-top: rrem(58);
  @include mq("md") {
    margin-top: rrem(20);
  }
}

.agistep-page__problem-text {
  margin-top: rrem(24);
  font-size: rrem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  letter-spacing: 0.64px;
  @include mq("md") {
    margin-top: rrem(10);
  }
}


/* AGI-Step problem 解決策
======================================*/


.agistep-page__solution-wrap {
  margin-top: rrem(144);
  max-width: rrem(800);
  margin-inline: auto;
  display: flex;
  gap: rrem(36);
  align-items: center;
  @include mq("md") {
    flex-direction: column;
    margin-top: rrem(112);
  }
}

.agistep-page__solution-textbox {

}

.agistep-page__solution-subtitle {
  font-size: rrem(18);
  font-weight: $bold;
  line-height: calc(28.8 / 18);
  letter-spacing: 0.72px;
  @include mq("md") {
    font-size: rrem(16);
    text-align: center;
  }
}

.agistep-page__solution-title {
  font-size: rrem(44);
  font-weight: $bold;
  line-height: 150%;
  letter-spacing: 3.52px;
  @include mq("md") {
    font-size: rrem(30);
    text-align: center;
    margin-top: rrem(20);
  }
}

.agistep-page__solution-title .text-highlight{
  font-family: $en-font;
  font-size: rrem(60);
  line-height: 100%;
  letter-spacing: 4.8px;
  @include mq("md") {
    font-size: rrem(40);
  }
}

.agistep-page__solution-text {
  margin-top: rrem(40);
  font-size: rrem(15);
  font-weight: $medium;
  line-height: calc(26.25 / 15);
  letter-spacing: 0.6px;
}

.agistep-page__solution-image {
  aspect-ratio: 480 / 400;
  width: rrem(418);
  flex-shrink: 0;
  @include mq("md") {
    width: rrem(250);
  }
}

/* AGI-Step benefits セクション
======================================*/
.agistep-page__benefits-wrap {

}

.agistep-page__benefits-list {
  display: flex;
  gap: rrem(20);
  @include mq("md") {
    flex-direction: column;
    max-width: rrem(250);
    margin-inline: auto;
    gap: rrem(30);
  }
}

.agistep-page__benefits-item {

}

.agistep-page__benefits-image {
  aspect-ratio: 320 / 483;
  max-width: rrem(320);
  @include mq("md") {
    width: rrem(250);
  }
}

/* AGI-Step feature セクション
======================================*/
.agistep-page__feature-list {
  margin-top: rrem(166);
  max-width: rrem(760);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  @include mq("md") {
    flex-direction: column;
    align-items: center;
    margin-top: rrem(40);
  }
}

.agistep-page__feature-image {
  aspect-ratio: 288 / 416;
  width: rrem(288);
  @include mq("md") {
    width: rrem(250);
  }
}

.agistep-page__description {
  margin-top: rrem(30);
  display: flex;
  align-items: center;
  gap: rrem(15);
  max-width: rrem(810);
  margin-inline: auto;
  @include mq("md") {
    flex-direction: column;
  }
  
}

.agistep-page__discription-wrap {

}

.agistep-page__description-title {
  color: $c-white;
  font-size: rrem(30);
  font-weight: $bold;
  line-height: calc(48 / 30);
  letter-spacing: 2.4px;
}

.agistep-page__description-text {
  color: $c-white;
  font-size: rrem(15);
  font-weight: $medium;
  line-height: calc(26.25 / 15);
  letter-spacing: 0.6px;
}

.agistep-page__description-image {
  aspect-ratio: 384 / 320;
  width: rrem(384);
  flex-shrink: 0;
  @include mq("md") {
    width: rrem(250);
  }

}















/* E-Cycleページ plan プラン
======================================*/
.ecycle-page__plan {
  padding-top: rrem(168);
  padding-bottom: rrem(101);
  @include mq("md") {
    padding-top: rrem(80);
    padding-bottom: rrem(60);
  }
}

.ecycle-page__plan-inner {
  max-width: rrem(890);
}

.ecycle-page__plan-wrap {
  margin-top: rrem(64);
  @include mq("md") {
    margin-top: rrem(20);
  }
}

.ecycle-page__plan-subtitle {
  text-align: center;
  font-size: rrem(22);
  font-weight: $bold;
  line-height: calc(35.2 / 22);
  letter-spacing: 1.76px;
  position: relative;
  @include mq("md") {
    font-size: rrem(16);
  }
}
.ecycle-page__plan-subtitle::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: rrem(420);
  height: 1px;
  background: #00CF35;
  @include mq("md") {
    width: rrem(320);
  }
}

.ecycle-page__plan-details {
  margin-top: rrem(64);
  display: flex;
  column-gap: rrem(40);
  @include mq("md") {
    margin-top: rrem(40);
    flex-direction: column;
    row-gap: rrem(20);
    column-gap: initial;
    max-width: rrem(320);
    margin-inline: auto;
  }
}

.ecycle-page .plan-details__cost {
  width: 50%;
  text-align: center;
  @include mq("md") {
    width: 100%;
  }
}

.ecycle-page .plan-details__cost-title.bg-green {
  background-color: $c-main;
}

.ecycle-page .plan-details__cost-title.bg-red {
  background-color: $c-accent;
}

.ecycle-page .plan-details__cost-title {
  color: $c-white;
  font-size: rrem(18);
  font-weight: $bold;
  line-height: calc(28.8 / 18);
  letter-spacing: 0.72px;
  padding-block: rrem(10);
  @include mq("md") {
    padding-block: rrem(5);
  }
}

.ecycle-page .plan-details__cost-item {
  margin-top: rrem(24);
  font-size: rrem(18);
  font-weight: $bold;
  line-height: calc(28.8 / 18);
  letter-spacing: 0.72px;
  @include mq("md") {
    margin-top: rrem(10);
    font-size: rrem(16);
  }
}

.ecycle-page .plan-details__cost-item .text-highlight {
  font-size: rrem(30);
  @include mq("md") {
    font-size: rrem(24);
  }
}

.ecycle-page .plan-details__cost-item + .plan-details__cost-item {
  margin-top: rrem(5);
}

.ecycle-page__plan-calculation {
  margin-top: rrem(40);
  padding: rrem(38) rrem(56) rrem(43);
  background-color: $c-BgGray;
  @include mq("md") {
    margin-top: rrem(20);
    padding: rrem(18);
  }
}

.ecycle-page .plan-calculation__title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ecycle-page .plan-calculation__title {
  text-align: center;
  color: $c-black;
  font-size: rrem(13);
  font-weight: $medium;
  line-height: calc(20.8 / 13);
  letter-spacing: 0.52px;
}

.ecycle-page .plan-calculation__description {
  text-align: center;
  padding-block: rrem(13);
  border: solid 1px $c-main;
  width: rrem(400);
  margin-top: rrem(16);
  font-size: rrem(18);
  font-weight: $bold;
  line-height: calc(18 / 18);
  letter-spacing: 0.72px;
  @include mq("md") {
    width: 100%;
  }
}

.ecycle-page .plan-calculation__wrap {
  margin-top: rrem(23);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rrem(44);
  @include mq("md") {
    flex-direction: column;
    margin-top: rrem(20);
    gap: rrem(20);
  }
}

.ecycle-page .plan-calculation__textbox {

}

.ecycle-page .plan-calculation__text {
  font-size: rrem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  letter-spacing: 0.64px;
}

.ecycle-page .plan-calculation__text + .plan-calculation__text  {
  margin-top: rrem(9);
}

.ecycle-page .plan-calculation__image {
  aspect-ratio: 400 / 120;
  max-width: rrem(400);
}



/* E-Cycleページ qa セクション
======================================*/
.ecycle-page__qa {
  padding-top: rrem(72);
  padding-bottom: rrem(89);
  @include mq("md") {
    padding-top: rrem(80);
    padding-bottom: rrem(60);
  }
}
