@use "../global" as *;
//共通パーツのコーディング
.section__title-wrap {
  text-align: center;
}

.section__title {
    font-family: $en-font;
    font-size: rrem(80);
    line-height: calc(80/80);
    font-weight: $light;
    letter-spacing: 6.4px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    border-bottom: solid 1px $c-Mgray;
    @include mq("md") {
      font-size: rrem(50);
      line-height: calc(50/40);
      letter-spacing: 3.2px;
    }
  }

.section__title--white,
.section__subtitle--white {
  color: $c-white;
}
.section__title--white {
  border-bottom: solid 1px $c-white;
}

/* グラデーションの定義 */
.gradient-svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* 下層ページ ファーストビュー */
.under-page__fv-wrap {
  // width: 100%;
  // height: rrem(560);
  // color: $c-white;
  display: grid;
  place-content: center;
  place-items: center;
}

.under-page__fv-title {
  font-family: $en-font;
  font-size: rrem(80);
  line-height: calc(104/80);
  font-weight: 200;
  text-transform: capitalize;
  @include mq("md") {
    font-size: rrem(50);
  }
}

.under-page__fv-subtitle {
  font-family: $en-font;
  font-size: 13px;
  line-height: calc(28.8/13);
  font-weight: $medium;
  text-transform: uppercase;
  letter-spacing: 0.52px;
}


/* 下層ページ video 動画セクション
============================================*/
.video__container {
  max-width: rrem(704);
  width: 100%;
  margin-inline: auto;
}

.video__container{
  max-width: rrem(704);
  width: 100%;
}

#ehack-video {
  position: relative;
  width: 100%;
}
#ehack-video::before {
  content:"";
  display: block;
  padding-top: 56.25%;//16:9
}
#ehack-video source {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


/* serviceの下層ページ3つ fv ファーストビュー
============================================*/
.under-service-fv {
  padding-top: rrem(90);
}

.under-service-fv__box {
  display: flex;
  @include mq("md") {
    flex-direction: column;
    align-items: center;
    gap: rrem(10);
  }
}

.under-service-fv__wrap {
  @include mq("md") {
    display: contents;
  }
}

.under-service-fv__label,
.under-service-fv__title {
  color: $c-white;
  font-family: $en-font;
  text-transform: capitalize;
}


.under-service-fv__label {
  font-size: rrem(22);
  font-weight: $light;
  line-height: cl(28.6/22);
}

.under-service-fv__title {
  //font-size: rrem(104);
  font-size: clamp(5rem, 3.286rem + 3.57vw, 6.5rem);
  font-weight: $bold;
  line-height: calc(104/104);
  letter-spacing: 8.32px;
  margin-top: rrem(25);
  @include mq("md") {
    font-size: rrem(50);
    margin-top: initial;
  }

}

.under-service-fv__subtitle {
  color: $c-white;
  //font-size: rrem(30);
  font-size: clamp(1.375rem, 0.875rem + 1.04vw, 1.813rem);
  font-weight: $bold;
  line-height: calc(48/30);
  letter-spacing: 2.4px;
  @include mq("md") {
    order: 1;
    font-size: clamp(0.875rem, 0.607rem + 1.34vw, 1.25rem);
  }
}

.under-service-fv__image {
  aspect-ratio: 480/320;
  width: rrem(480);
  @include mq("md") {
    width: rrem(320);
  }
}


/* 下層serviceページ(共通) 1分で分かる動画
======================================*/
.under-service-quick__title-wrap {
  text-align: center;
  color: $c-white;
}

.under-service-quick__title {
  font-size: rrem(44);
  font-weight: $bold;
  line-height: calc(66 / 66);
  letter-spacing: 3.52px;
  //border-bottom: 1px solid $c-white;
  width: rrem(309);
  display: inline-block;
  padding-bottom: 12px;
  box-shadow: inset 0 -1px 0 0 #FFF;
  border-bottom: solid 12px rgb(40, 41, 43);
  @include mq("md") {
    font-size: rrem(30);
  }
}

.under-service-quick__subtitle {
  font-family: $en-font;
  font-size: rrem(24);
  font-weight: $bold;
  line-height: calc(36 / 36);
  letter-spacing: 1.92px;
  text-transform: capitalize;
  @include mq("md") {
    font-size: rrem(18);
  }
}

.under-service-quick__video {
  margin-top: rrem(40);
  @include mq("md") {
    margin-top: rrem(40);
  }
}



/* 下層serviceページ(共通) セクションタイトル
======================================*/
.mmovie-page__setion-titleBox {

}

.mmovie-page__section-subtitle {
  font-size: rrem(22);
  font-weight: $bold;
  line-height: calc(35.2 / 22);
  letter-spacing: 1.76px;
  position: relative;
  @include mq("md") {
    font-size: rrem(18);
  }
}
.mmovie-page__section-subtitle::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 1px;
  background-color: $c-Dgray;
}

.mmovie-page__section-title {
  font-family: $en-font;
  font-size: rrem(44);
  font-weight: $bold;
  line-height: calc(66 / 44);
  letter-spacing: 3.52px;
  margin-top: rrem(32);
  @include mq("md") {
    font-size: rrem(30);
  }
}
.mmovie-page__section-title span {
  font-family: $base-font;
  font-size: rrem(22);
  font-weight: $bold;
  line-height: calc(33 / 22);
  letter-spacing: 1.76px;
}