@use "../global" as *;
//TOP-supportsセクション
.supports__title-wrap {
    text-align: center;
}

.supports__logo-wrap {
  margin-top: rrem(94);
  max-width: rrem(880);
  margin-inline: auto;
  @include mq("md") {
    margin-top: rrem(43);
  }
}

.supports__logo-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: rrem(30);
  row-gap: rrem(30);
  align-items: end;
  grid-template-rows: auto; /* 行の高さを自動に */
  grid-template-areas:
    "logo01 logo02 logo03 logo04 logo05"
    ". logo06 logo07 logo08 logo09";
  justify-items: center; /* ロゴを中央に揃える */
}

.logo01 { grid-area: logo01; }
.logo02 { grid-area: logo02; }
.logo03 { grid-area: logo03; }
.logo04 { grid-area: logo04; }
.logo05 { grid-area: logo05; }
.logo06 { grid-area: logo06; }
.logo07 { grid-area: logo07; }
.logo08 { grid-area: logo08; }
.logo09 { grid-area: logo09; }

.supports__logo-item {
  display: grid; /* list-item の代わりに grid を指定 */
  grid-area: inherit; /* これにより li タグ自体が grid-area を継承 */
  justify-items: center;
}
